@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Roboto:wght@100&display=swap");
* {
  color: inherit;
  margin: 0;
}

html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Barlow", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

hr {
  border: 0;
  border-top: 1px solid #efefef;
}

.text-blue {
  color: #0d6efd;
}

.text-indigo {
  color: #6610f2;
}

.text-purple {
  color: #6f42c1;
}

.text-pink {
  color: #d63384;
}

.text-red {
  color: #dc3545;
}

.text-orange {
  color: #fd7e14;
}

.text-yellow {
  color: #ffc107;
}

.text-green {
  color: #198754;
}

.text-teal {
  color: #20c997;
}

.text-cyan {
  color: #0dcaf0;
}

.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.text-gray {
  color: #6c757d;
}

.text-gray-dark {
  color: #343a40;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 1.25rem;
  padding: 0.75rem;
  color: #000;
  border-bottom: 1px solid #ddd;
}
.card .card-title a {
  text-decoration: none;
}
.card .card-body {
  padding: 0.75rem;
}